.background {
    background-color: black;
    height: 100px;
    padding-left: 50px;
    padding-bottom: 620px;
    margin: 0px 170px;
}

.styling {
    color: white;
    position: fixed;
}

h1 {
    font: bold 55pt "Courier New";
    text-align: center;
    top: -10px;
    animation: blurtext 5s alternate;
}

p {
    font: bold 25pt "Courier New";
    bottom: 90px;
    animation: blurtext 15s alternate;
}

.returnback {
    font: bold 20pt "Courier New";
    bottom: 50px;
    right: 210px;
}

.returnback:hover {
    cursor: pointer;
}

 @keyframes blurtext {
     0% { opacity: 5%}
     100% { opacity:100%;}
 }